{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block title %}{{ block.super }} - {{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="photo_nav">
{% if previous_year %}
<a href="{% url 'gallery:year' previous_year.year %}" class="previous">&larr; {{ previous_year.year }}</a>
{% endif %}
<a href="{% url 'gallery:index' %}">&uarr; {{ title }} &uarr;</a>
{% if next_year %}
<a href="{% url 'gallery:year' next_year.year %}" class="next">{{ next_year.year }} &rarr;</a>
{% endif %}
</div>

<h2>{{ year.year }}</h2>
{% for album in album_list reversed %}
<h3 class="album_preview">
{{ album.display_name }}
<span class="album_count">{% blocktrans count album.photos_count as num_photos %}one photo{% plural %}{{ num_photos }} photos{% endblocktrans %}</span>
<span class="album_date">{{ album.date }}</span>
<span class="album_category">{% trans album.category %}</span>
</h3>
{% spaceless %}
<div class="photo_list">
{% for photo in album.preview %}
<a href="{{ album.get_absolute_url }}"><img src="{% url 'gallery:photo-resized' preset='thumb' pk=photo.pk %}" width="128" height="128" alt="{{ photo }}"></a>
{% empty %}
<p>{% trans "Sorry, you aren't authorized to view any photos in this album." %}</p>
{% endfor %}
</div>
{% endspaceless %}
{% empty %}
<p>{% trans "Sorry, you aren't authorized to view any albums." %}</p>
{% endfor %}
{% endblock %}
