{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/gallery.css">
{% endblock %}

{% block title %}{{ block.super }} - {{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
{% for album in album_list %}
{% ifchanged album.date.year %}
{% if not forloop.first %}</ul>{% endif %}
<h2>{{ album.date.year }}</h2>
<ul class="album_list">
{% endifchanged %}
<li>
<a href="{{ album.get_absolute_url }}">{{ album.display_name }}</a>
<span class="album_date">{{ album.date }}</span>
<span class="album_category">{% trans album.category %}</span>
</li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}
{% endblock %}
