{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block title %}{{ block.super }} - {{ album }}{% endblock %}

{% block header %}{{ album }}{% endblock %}

{% block content %}
{% spaceless %}
{% for photo in album.photo_set.all %}
<a href="{{ photo.get_absolute_url }}">
<img src="{% url 'gallery-photo-resized' 'thumb' photo.pk %}">
</a>
{% endfor %}
<br>
{% if album.get_previous_by_date %}
<a href="{{ album.get_previous_by_date.get_absolute_url }}">&lt;&lt;</a>
{% endif %}
<a href="{% url 'gallery-root' %}">^^</a>
{% if album.get_next_by_date %}
<a href="{{ album.get_next_by_date.get_absolute_url }}">&gt;&gt;</a>
{% endif %}
{% endspaceless %}
{% endblock %}
